.eha-counter-btn {
   font-size: 25.5pt;
   padding: 0.1em 0.2em;
   height: 2.3em;
}

.eha-counter-input {
  padding: 0em;
  height: 4em;
}

.eha-counter-input::-webkit-inner-spin-button,
.eha-counter-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
